.footer-color-text{
    color:#5E6282 !important;
    font-size: 18px;
    text-transform: capitalize;

}
.icon-section,.img-section{
    display: flex;
    justify-content: space-around;
}
.icon-section img{
    width:55px;
    height:55px;
    padding: 18px;
    
   border-radius: 50%;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.store-item{
    background-color: black;
    border-radius: 50.5px;
    
}
.store-item p{
    font-size: 13px;
}
.store-item .icon{
 font-size: 28px;
 margin-top: -15px;
}
  
.footer-link li a {
    position: relative;
    cursor: pointer;

}
.footer-link li a::before {
    content: "";
    width: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--nevy);
    transition: 0.3s;
}
.footer-link li a:hover::before {
    width:100%;
}
@media only screen and (max-width: 600px) {
    .store-section{
       flex-direction: column !important;
      display: block !important;
        
    }
  
      
}